ion-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;  
  }
  
  .team-color-bar {
    width: 10px; 
    height: 60px; 
    border-radius: 8px;  
    margin-right: 16px; 
    background-color: blue;
  }
  
  ion-avatar {
    margin-right: 12px;  
  }
  
  ion-label h2 {
    font-size: 18px;  
    font-weight: bold;  
  }
  
  ion-label p {
    color: #555; 
  }
  