<ion-header>
  <ion-toolbar>
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="about-container">
    <ion-row>
      <ion-col size="12">
        <div class="about-header">
          <ion-avatar class="about-avatar">
            <img src="../../assets/photoProfil.jpg" alt="Yoni Selhaoui" />
          </ion-avatar>
          <div class="about-text">
            <h1>Yoni Selhaoui</h1>
            <p>Étudiant en BUT3 Informatique 2024-2025</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="about-card">
          <ion-card-header>
            <ion-card-title>À propos du projet</ion-card-title>
          </ion-card-header>
          <ion-card-content class="project-info">
            <p>TP noté Programmation Multimédia</p>
            <p>Développement d'une Application Ionic</p>
            <p>Yoni Selhaoui | BUT3A 3.2</p>
          </ion-card-content>
          <ion-card-content class="tech-info">
            <ion-label class="tech-label">Technologies utilisées :</ion-label>
            <ul>
              <li>Ionic</li>
              <li>Angular</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
            <p>
              <strong>Lien du GitHub : </strong>
              <a href="https://github.com/YoniSlh/ionic_f1" target="_blank"
                >https://github.com/YoniSlh/ionic_f1</a
              >
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
