<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home" routerLinkActive="active">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/drivers" routerLinkActive="active">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Drivers</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/gestion/liste" routerLinkActive="active">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Gestion</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/picture" routerLinkActive="active">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Caméra</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/about" routerLinkActive="active">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>À propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
