<ion-header>
  <ion-toolbar>
    <ion-title>Créer un driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitDriver()">
    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-input
        [(ngModel)]="newDriver.first_name"
        name="first_name"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input
        [(ngModel)]="newDriver.last_name"
        name="last_name"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nom de l'équipe</ion-label>
      <ion-input
        [(ngModel)]="newDriver.team_name"
        name="team_name"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Numéro du pilote</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="newDriver.driver_number"
        name="driver_number"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL de l'image</ion-label>
      <ion-input
        [(ngModel)]="newDriver.headshot_url"
        name="headshot_url"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Couleur de l'équipe</ion-label>
      <ion-input
        [(ngModel)]="newDriver.team_colour"
        name="team_colour"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Acronyme de l'équipe</ion-label>
      <ion-input
        [(ngModel)]="newDriver.name_acronym"
        name="name_acronym"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Code pays</ion-label>
      <ion-input
        [(ngModel)]="newDriver.country_code"
        name="country_code"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nom du diffuseur</ion-label>
      <ion-input
        [(ngModel)]="newDriver.broadcast_name"
        name="broadcast_name"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Créer</ion-button>
  </form>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home" routerLinkActive="active">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/drivers" routerLinkActive="active">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Drivers</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/gestion/liste" routerLinkActive="active">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Gestion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
